#navbar {
    display:flex;
    flex-direction: row;
    justify-content:right;
    gap: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(9, 34, 142);
    padding: 10px;
    
}
#nav-link{
    color: #ab3636;
}
a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: blue; /* Change color on hover if needed */
}

@media (max-width: 300px) {
   
}

body {
    display: flex;
    justify-content: center;
font-family: 'Poppins', sans-serif;
font-size: 1rem;
line-height: 1.4;
background-color:#212529;
}
#quote{
    display: block;
    margin-top: 20px;
    padding: 12px 20px;
    color: orange;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
}
.name{
    color: purple;
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
}
.description{
    color: darksalmon;
    font-style: oblique;
}
h2 {
display: block;
text-align: center;

}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
    margin: auto;

  }
  .gallery img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border: 5px solid #ab3636 ;
     
  }
  gallery::after {
    content: "";
    width: 100%;
  }

  .contact-info {
    text-align: center;
    
}
.contact-info a{
    margin: 0 20px;
}
.blank {
    display: inline;
    margin: 10px 0;
    color: #2452b6; /* Default icon color */
    font-size: 1.5em; /* Icon size */
    text-decoration: none;
    
}

.bottom{
    display: flex;
    flex-direction: row;
    gap: 1em;
    /*background-image: url(https://img.freepik.com/premium-photo/web-development-coding-programming-site-application-laptop_272306-16.jpg?w=1060);*/
    justify-content: center;
    flex-wrap: wrap;
  
}

#flex-item {
    width: 100%;
    max-width: 300px;
    color: azure;
}
#color{
    color:#ab3636;
    text-align:left; 
}
.youtube-icon{
    color: red;
    font-size: 1.2em;
    text-align: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}
#item{
    width: 100%;
    max-width: 300px;
    height: 300px;
  
}
.container img{

   border-radius: 100%;
}
