#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: right;
    z-index: 1000;
}
@media (max-width: 300px) {
#navbar a {
display: block;
padding: 10px;
text-align: left;
}
}

body {
font-family: 'Poppins', sans-serif;
font-size: 1.8rem;
font-weight: 400;
line-height: 1.4;
color: var(--main-white);
background-color: #F5F5DC;
}
.welcome {
    display: block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: rgb(223, 29, 100);
    color: orange;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
    
}
#welcome-section{

    align-items: center;
}
#contacts{
    background-color:  #F5F5DC;
    
}
}
#projects{
background-color: #F5F5DC;
}
.dp{
width:200px;
height:200px;
border: 2px solid #ccc;
border-radius: 50px;
}

h2 {
display: block;
text-align: center;

}
span {
font-size: 36px;
font-family: Arial, sans-serif;
font-weight: bold;
font-style: italic;
color: #333;
background-color: #f9f9f9;
text-decoration: underline;
padding: 10px;
margin-right: 10px;
opacity: 1;
text-align: center;
vertical-align: middle;
line-height: 1.5;
}
.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    background-color:  #F5F5DC;
  }
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border:3px;
    
  }
.gallery::after {
  content: "";
  width: 350px;
}
  .contact-info {
    text-align: center; /* Center the contact info */
    margin-top: 20px;
}
.blank {
    display: inline;
    margin: 10px 0;
    color: black; /* Default icon color */
    font-size: 40px; /* Icon size */
    text-decoration: none;
}
#pic{
    display: block;
    align-items: center;
    text-align: center;
}
