#navbar {
    display:flex;
    flex-direction: row;
    gap: 4.8rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    text-align: left;
    z-index: 1000;
   
    
    
}
a{
    text-decoration: none;
    color:black;
    

}
a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: blue; /* Change color on hover if needed */
}

@media (max-width: 300px) {
   
}

body {
font-family: 'Poppins', sans-serif;
font-size: 1.8rem;
font-weight: 400;
line-height: 1.4;
color: var(--main-white);
background-color: white;
}
.welcome {
    display: block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: white;
    color: orange;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
    border: 5px solid #000;
    
    
    
}
#welcome-section{

    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/suitcase-icon-right-side-with-white-background_187299-39998.jpg?w=740&t=st=1716579453~exp=1716580053~hmac=45e75ff121969a10ba0fcee26cd84e582ee4035c5da05b851c25439c7793fdbc);
}

#contacts{
    background-color:  white;
    
}

#projects{
background-color: white;
}
.dp{
width:200px;
height:200px;
border: 2px solid #ccc;
border-radius: 50px;
}

h2 {
display: block;
text-align: center;

}
span {
font-size: 36px;
font-family: Arial, sans-serif;
font-weight: bold;
font-style: italic;
color: #333;

text-decoration: none;
padding: 10px;
margin-right: 10px;
opacity: 1;
text-align: center;
vertical-align: middle;
line-height: 1.5;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: left;

   justify-content: center;
    align-items: center;

    gap: 16px;
    max-width: auto;
    margin: auto;
    background-color:  white;

  }
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border:3px;

    
  }

  .gallery::after {
    content: "";
    width: 350px;
  }

.gallery::after {
  content: "";
  width: 350px;
}

  .contact-info {
    text-align: center;
    
}
.contact-info a{
    margin: 0 20px;
}
.blank {
    display: inline;
    margin: 10px 0;
    color: black; /* Default icon color */
    font-size: 40px; /* Icon size */
    text-decoration: none;
    
}
#pic{
    display: block;
    align-items: left;
    text-align: left;
}
.prathkum{
    object-fit: cover;
    width: 100%; 
}
